<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>ユーザ登録</title>
</head>

<body>
	<header th:replace="layout/_header :: header"></header>

	<main>
		<h1>ユーザ登録フォーム</h1>

		<form th:action="@{/register}" th:object="${form}" method="post">
			<p>
				名前：<input type="text" th:field="*{name}" />
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			</p>
			<p>
				メールアドレス：<input type="email" th:field="*{email}" />
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			</p>
			<p>
				メールアドレス（確認用）：<input type="email" th:field="*{emailConfirm}" />
				<span th:if="${#fields.hasErrors('emailConfirm')}" th:errors="*{emailConfirm}"></span>
			</p>

			<p th:if="${#fields.hasErrors('emailConfirmed')}" th:errors="*{emailConfirmed}"></p>
			<p>
				パスワード：<input type="password" th:field="*{password}" />
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
			</p>
			<p><button type="submit">登録</button></p>
		</form>

		<a href="/">▶ トップページへ戻る</a>
	</main>

	<footer th:replace="layout/_footer :: footer"></footer>
</body>

</html>